
/* CSS Document */
div{
	/*border:1px solid;*/
}

a{
    color:maroon;
    text-decoration:none;
}

a:visited {
    color:maroon;
}

a:hover {
    color:#FFCF75;
    background:maroon;
}

#menuPlaceholder a {
	font-size:20px;
	padding:0px 5px;
}

body {
    font:x-small Tahoma, Verdana, Helvetica, Arial, sans-serif;
    background:#FFF; 
    color:#000000;
    margin:0;
    padding:5px;
}

#container {
    margin:0 auto;
    width: 884px; 
    padding:0 5px;
    border-bottom:5px solid #FFF;
    position:relative;
    font-size:110%;
}

#pageHeader {
  width:884px;
  height:316px;
}

#picsPlaceholder{
	position:absolute;
	left:5px;
	top:0px;
	width:735px;
  height:284px;
  background:black;
}

#picsPlaceholder img{
	position:absolute;
	display:none;
}

#logoPlaceholder{
	position:absolute;
	left:740px;
	top:0px;
	width:149px;
  height:284px;
}

#menuPlaceholder{
	position:absolute;
	left:5px;
	top:285px;
	width:884px;
  height:30px;
  background-color:#FFCF75;
}

ul
{
	list-style-type:none;
	margin:0;
	padding:0;
} 

li
{
display:inline;
}

#preamble {
    padding:5px;
    background:#F6CB6C; /*color - yellow*/
}

#preamble h3 {
    margin:0 0 5px;
    padding:0;
    width:238px;
    height:24px;
    overflow:hidden;
}

#preamble p {
    margin:0 10px 10px;
    padding:0;
}

#coffeePicture {
    display: block;
    margin: 1em;
}

#supportingText {
    padding:5px;
}

#footer {
	height:18px;
	border-top:5px solid #FFF;
  background-color:#FFCF75;
  padding:10px;
}

#footer a {
    color:maroon;
    padding:5px;
}
#footer {
    color:maroon;
}

#footer a:hover {
    color:blue;
    text-decoration:none;
}

#footerlinks {
    float: right;
}

#webSiteBy {
	color:#666666;
	text-align: right;
}

#explanation h3, #participation h3 {
    margin:10px 0 5px;
    padding:0;
    width:238px;
    height:24px;
    color:#F6CB6C; /*color - yellow*/            
    background-color: black;
}

#preamble h3 span,
#explanation h3 span,
#participation h3 span{
    float: left;
    text-indent: .75em;
}

#lselect li a {display: block; margin-left:-10px; font-weight:bold;}

#supportingText p {
    margin:0 10px 10px;
    padding:0;
}

#lselect ul{
    width:210px;
    margin:0 0 10px 15px;
    padding:0;
}

#lselect li{
    padding: 0 0 0 40px;
    margin:0 0 5px;
    list-style-type:none;
    clear:left;
    white-space:nowrap;
}

acronym {
    border-bottom:1px dotted #555040;
    cursor:help;
}

a acronym {
    border-bottom:1px dotted #8297A7;
}
