* {
	margin: 0px;
	padding: 0px;
}

header, footer, section, aside, nav, article, hgroup {
	display: block;
}

body {
	text-align: center;
	font-family: Verdana, sans-serif;
	font-size: 12px;
	background: #d0d0d0;
}

h1 {
	font-size: 20px;
}

h2 {
	font-size: 16px;
}

#wrapper {
	width: 1000px;
	margin: 15px auto;
	text-align: left;
	background: #f0f0f0;
	padding: 5px;
	border-radius: 10px;
	box-shadow: 0px 0px 5px #888888;
}

#logo{
	height: 90px;
}

#page_header{
	padding: 5px;
}

#logoimage{
	float: left;
}

#social_menu{
	text-align: right;
}

#social_menu  li {
	display: inline-block;
	list-style: none;
	padding: 0px 5px;
}

#social_menu  a:hover {
	background: transparent;
	color: transparent;
}

#slide_show_area {
	background-color: black;
	display: block;
}

#slide_show  {
	margin: 0 auto;
}

#top_menu {
	background:black;
}

#top_menu li {
	display: inline-block;
	list-style: none;
	font-size: 18px;
	padding: 5px 10px;
}

#top_menu a {
	color: #A000A0;
	text-decoration: none;
}

#top_menu a:hover {
	background: transparent;
	color: white;
}

#main_content {
	float: left;
	width: 680px;
	margin: 10px;	/* 700px, 300px left */
}

#main_content header {
	text-align: center;
}

#sidebar {
	float: left;
	width: 270px;
	margin: 10px 0px;
	padding: 10px;
	background-color: white;
	box-shadow: 0px 0px 5px #888888;
	border-radius: 10px;
	text-align: center;
}

#sidebar article {
	border-top: thin solid #808080;
}

article {
	padding: 10px 0px;
}

#page_footer {
	clear: both;
	text-align: center;
	color: #707070;
	border-top: 2px solid;
}

a {
	color: #8B008B;
	text-decoration: none;
	font-weight: bold;
}

a.pronounced {
	font-size: 14px;
}

a:hover {
	background: #8B008B;
	color: white;
}

p {
	margin: 15px 0px;
}

img{
	border:none;	/* IE hack to get rid of border around images */
}
